<h1>Movies list</h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %> - <%= link_to "delete",  bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure"} %></li>
  <% end %>
</ul>

<p><%= link_to "add a movie",  new_list_bookmark_path(@list) %></p>
